services:
    db:
        container_name: db_symfony
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: secret
            MYSQL_DATABASE: felix
            MYSQL_USER: symfony
            MYSQL_PASSWORD: secret
        ports:
            - "3306:3306"
        volumes:
            - db-data:/var/lib/mysql
        networks:
            - felix
        restart: always

    phpmyadmin:
        container_name: phpmyadmin
        image: phpmyadmin
        depends_on:
            - db
        ports:
            - 8080:80
        environment:
            PMA_HOST: db
        networks:
            - felix
        restart: always

    www:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: symfony
        ports:
          - "8741:80"
        volumes:
          - ./docker/php/vhosts:/etc/apache2/sites-enabled:cached
          - ./felix_junot_back/src:/var/www/src:cached
          - ./felix_junot_back/templates:/var/www/templates:cached
          - ./felix_junot_back/public:/var/www/public:cached
          - ./felix_junot_back/config:/var/www/config:cached
          - ./felix_junot_back/tests:/var/www/tests:cached
          - ./felix_junot_back/migrations:/var/www/migrations:cached
          - ./felix_junot_back/composer.json:/var/www/composer.json:cached
          - ./felix_junot_back/.env.test:/var/www/.env.test:cached
          - ./felix_junot_back/phpunit.xml:/var/www/phpunit.xml:cached
          - ./felix_junot_back/phpunit.xml.dist:/var/www/phpunit.xml.dist:cached
          - ./felix_junot_back/.env:/var/www/.env:cached
        restart: always
        networks:
            - felix
            
    react-app:
        container_name: react-app
        build: 
            context: ./felix_junot_front
            dockerfile: Dockerfile
        ports:
          - "3000:3000"
        command: npm start
        volumes:
          - ./felix_junot_front:/app
        environment:
          - CHOKIDAR_USEPOLLING=true  # Ajout pour activer le mode polling
          - FAST_REFRESH=true
        restart: always
        networks:
            - felix

networks:
    felix:

volumes:
    db-data:
