services:
  db:
    container_name: db_symfony
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: felix
      MYSQL_USER: symfony
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - felix
    restart: always

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin
    depends_on:
      - db
    environment:
      PMA_HOST: db
    networks:
      felix:
        ipv4_address: 192.168.160.5  # IP statique pour phpmyadmin
    restart: always

  www:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony
    volumes:
      - ./docker/php/vhosts:/etc/apache2/sites-enabled:cached
      - ./felix_junot_back/src:/var/www/src:cached
      - ./felix_junot_back/templates:/var/www/templates:cached
      - ./felix_junot_back/public:/var/www/public:cached
      - ./felix_junot_back/config:/var/www/config:cached
      - ./felix_junot_back/migrations:/var/www/migrations:cached
      - ./felix_junot_back/composer.json:/var/www/composer.json:cached
      - ./felix_junot_back/.env:/var/www/.env:cached
      - ./felix_junot_back/assets:/var/www/assets:cached
    restart: always
    networks:
      felix:
        ipv4_address: 192.168.160.4  # IP statique pour symfony

  react-app:
    container_name: react-app
    build: 
      context: ./felix_junot_front
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production  # Activer le mode production pour React
    restart: always
    networks:
      felix:
        ipv4_address: 192.168.160.3  # IP statique pour react-app

networks:
  felix:
    driver: bridge
    ipam:
      config:
        - subnet: "192.168.160.0/20"

volumes:
  db-data:
